@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 29,24,50;
    --background-end-rgb: 29,24,50;
  }
}

* {
  /* border: red 1px solid; */
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    radial-gradient(circle at 40% 20%, #0b062c 0%, transparent 80%),
    conic-gradient(from 360deg at 0% 0%, #140d1d 0%, transparent 70%),
    radial-gradient(circle at 20% 55%, #2e3170 0%, transparent 60%),
    linear-gradient(#000000, #060713);
  background-attachment: fixed;
  overscroll-behavior: contain;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0813;
}

::-webkit-scrollbar-thumb {
  background: rgb(25, 27, 52);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 50, 82);
}
